body {
    background-color: black;
      text-align: center;
    color: white;
}

.Header {
    text-align: center;
    color: pink;
    text-size-adjust: 60px ;


}

#Header2 {
    text-align: center;
    color:aqua;
    text-size-adjust: 70px;
}

.p{
    text-align: center;
    color: white;
    font-family: "Montenegrin Gothic One",serif;
    font-weight: 400;
    font-style: normal;


}
.img{
    text-align: center;
    border-radius: 50%;
}

